<!DOCTYPE HTML>

<html>
	<head>
		<title>Tutorial</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="assets/css/main.css" />

	</head>
	<body >


					<div id="main" class="container content">

						<h2 class="sans-small-caps bigger">Events</h2>

						<!-- <div  class="news-post"> -->
							<div class="post">
								<div class="img-container">
									<a href="#" class="hover-link">
										<p class="date ">April 24, 2017</p>
										<h2 class="post-title small-caps">Sed magna
										ipsum faucibus</h2>
									</a>
								</div>

								<a href="#" class="hover-link">
								<div class="disc">
									<img class="post-img" src="images/pic01.jpg"  />
									<p class="disc-txt">Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, sint! Deserunt iste excepturi assumenda earum vitae fuga eius quasi totam dolorem minima error recusandae similique, molestias hic doloribus et doloremque!</p>
								</div>
								</a>
							</div>

							<div class="post">
								<div class="img-container">
									<a href="#" class="hover-link">
										<p class="date ">April 24, 2017</p>
										<h2 class="post-title small-caps">Sed magna
										ipsum faucibus</h2>
									</a>
								</div>

								<a href="#" class="hover-link">
								<div class="disc">
									<img class="post-img" src="images/pic01.jpg"  />
									<p class="disc-txt">Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, sint! Deserunt iste excepturi assumenda earum vitae fuga eius quasi totam dolorem minima error recusandae similique, molestias hic doloribus et doloremque!</p>
								</div>
								</a>
							</div>

							<div class="post">
								<div class="img-container">
									<a href="#" class="hover-link">
										<p class="date ">April 24, 2017</p>
										<h2 class="post-title small-caps">Sed magna
										ipsum faucibus</h2>
									</a>
								</div>

								<a href="#" class="hover-link">
								<div class="disc">
									<img class="post-img" src="images/pic01.jpg"  />
									<p class="disc-txt">Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, sint! Deserunt iste excepturi assumenda earum vitae fuga eius quasi totam dolorem minima error recusandae similique, molestias hic doloribus et doloremque!</p>
								</div>
								</a>
							</div>

							<div class="post">
								<div class="img-container">
									<a href="#" class="hover-link">
										<p class="date ">April 24, 2017</p>
										<h2 class="post-title small-caps">Sed magna
										ipsum faucibus</h2>
									</a>
								</div>

								<a href="#" class="hover-link">
								<div class="disc">
									<img class="post-img" src="images/pic01.jpg"  />
									<p class="disc-txt">Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, sint! Deserunt iste excepturi assumenda earum vitae fuga eius quasi totam dolorem minima error recusandae similique, molestias hic doloribus et doloremque!</p>
								</div>
								</a>
							</div>

						<!-- Footer -->
							<footer>
								<div class="pagination ">
									<a href="#" class="hover-link previous">Prev</a>
									<a href="#" class="hover-link page active">1</a>
									<a href="#" class="hover-link page">2</a>
									<a href="#" class="hover-link page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="hover-link page">8</a>
									<a href="#" class="hover-link page">9</a>
									<a href="#" class="hover-link page">10</a>
									<a href="#" class="hover-link next">Next</a>
								</div>
							</footer>

					</div>


			</div>

	</body>
</html>