<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
{% include "main/navbar.html" %}
<body>
    <button onclick="topFunction()" id="widget" class="fa fa-arrow-up" title="Go to top"></button>

    <div class="opening-container opening-about content">
        <h2 class="sans-small-caps content bigger opening-text">About Us</h2>
    </div>
        <div class="about-container content">
            <!--        Left no line-->
            <div class="column border-right pad-right">
                <div class="block image-block1">
                    <div class="block-text"></div>
                </div>
                <div class="block paragraph">Through their participation in specialized training sessions and our organized delegations
                    to MUN conferences, both in Greece and around the world, we promote the self-development of our members
                    and help them improve their leadership and communications skills. In addition to that, we host a variety
                    of academic events and workshops, specifically designed to address important issues that challenge the
                    international community today. Moreover, we endorse activities that help our members get more involved
                    with the local community, such as voluntary work and charity fundraisers.
                </div>
                <div class="block image-block3">
                    <div class="block-text"></div>
                </div>

            </div>

            <!--        Right black line-->
            <div class="column pad-right">

                <div class="block text-right">United Nations Society - Faculty of Law AUTh (UNSOC) is an association founded in 2020
                    by a group of highly motivated law students at the Aristotle University of Thessaloniki. As of October 2020,
                    UNSOC is also a registered non-profit organization, officially recognized by the Hellenic Republic.
                    Our main goal is to promote Model United Nations (MUN) and to familiarize young people with international
                    affairs, diplomacy and international law.
                </div>
                <div class="block image-block2">
                    <div class="block-text"></div>
                </div>
                <div class="block text-right">In UNSOC, we believe that team spirit is the cornerstone of every successful
                    initiative. That’s why we regularly organize networking meetings and team-building events, in order to
                    ensure that our members will have many opportunities to form new friendships that will last for a lifetime.
                    At the same time, we strive to create a safe and friendly environment, where young people will feel
                    confident to express themselves, defend their opinions and grow as individuals.
                </div>
            </div>


            <div class="mobile-about">

                <div class="block image-block1">
                <!-- <div class="block-text"></div> -->
                </div>

                <div class="block text-right">United Nations Society - Faculty of Law AUTh (UNSOC) is an association founded in 2020
                    by a group of highly motivated law students at the Aristotle University of Thessaloniki. As of October 2020,
                    UNSOC is also a registered non-profit organization, officially recognized by the Hellenic Republic.
                    Our main goal is to promote Model United Nations (MUN) and to familiarize young people with international
                    affairs, diplomacy and international law.
                </div>

                <div class="block image-block2"></div>

                <div class="block">Through their participation in specialized training sessions and our organized delegations
                    to MUN conferences, both in Greece and around the world, we promote the self-development of our members
                    and help them improve their leadership and communications skills. In addition to that, we host a variety
                    of academic events and workshops, specifically designed to address important issues that challenge the
                    international community today. Moreover, we endorse activities that help our members get more involved
                    with the local community, such as voluntary work and charity fundraisers.
                </div>

                <div class="block image-block3"></div>

                <div class="block text-right">In UNSOC, we believe that team spirit is the cornerstone of every successful
                    initiative. That’s why we regularly organize networking meetings and team-building events, in order to
                    ensure that our members will have many opportunities to form new friendships that will last for a lifetime.
                    At the same time, we strive to create a safe and friendly environment, where young people will feel
                    confident to express themselves, defend their opinions and grow as individuals.
                </div>

            </div>

    </div>

    <!-- <div class="container content">
        <h2 class="content small-caps">Frequently Asked Questions</h2>
    </div>
    <div class="container red-bottom">

        <button class="content accordion hover-link" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae atque perferendis quas? Modi cum quibusdam consectetur itaque ducimus in porro et tenetur dolorum ratione. Maxime laboriosam nisi dicta perspiciatis tempora!</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="content accordion hover-link" >Question 2</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="content accordion hover-link" >Question 3</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>


        <p class="content message">Have more questions? You can get in touch with us in <a class="link small-caps" href="{% url 'contact' %}">Contact Us</a> </p>
    </div> -->

    <script src="{% static '/material/js/button-widget.js' %}"></script>
    <script src="{% static '/material/js/accordion.js' %}"></script>

</body>
{% include "main/footer.html" %}
</html>