<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
{% include "main/navbar.html" %}
<body>

    <button onclick="topFunction()" id="widget" class="fa fa-arrow-up" title="Go to top"></button>

    <div class="opening-container opening-contact content">
        <h2 class="sans-small-caps content bigger opening-text">Contact Us</h2>
    </div>


    <div class="container faq content">

        <!-- <p>Before trying to contact us please consult the <a class="link" href="{% url 'about-us' %}">FAQ</a> page.</p> -->

        <h2 class="small-caps">Send Us A Message</h2>
        <!-- <h2 class="small-caps"></h2> -->
        <p>
            For general questions, feel free to email us at info@unsoc-auth.org, or use the contact form below.
        </p>

        <div style="width: 100%;  max-width: 40rem;" class="red-bottom">


                <form class="pure-form pure-form-stacked sans">
                    <fieldset class="pure-group">
                        <!-- <legend class="lil-pad sans-small-caps">Contact us</legend> -->

                        <label class="lil-pad " for="stacked-name">Name</label>
                        <input  type="text" id="stacked-name" class=" pure-u-1 pad"	 />

                        <label class="lil-pad " for="stacked-email">Email *</label>
                        <input type="email" id="stacked-email" class="pad pure-u-1" required="" />

                    </fieldset>

                    <fieldset class="pure-group">
                            <label class="lil-pad " for="stacked-message">Message *</label>
                            <textarea class="pad pure-u-1" id="stacked-message" required=""></textarea>
                    </fieldset>
                    <button style="background-color: #7d0e12;" type="submit" class="small-caps button-xsmall pure-button pure-u-1 pure-button-primary hover-link pad ">Send</button>
                </form>
        </div>
        <p class="red-bottom">
            For more specific enquiries, do not hesitate to contact any member of our <a href="" class="hover-link">Executive Board</a>.
        </p>

        <h2 class="small-caps" >Social Media</h2>
        <p class="red-bottom">You can also get in touch with us through our social media pages:</p>
        <!-- <br> -->

        <!-- <br> -->
        <a href="https://www.facebook.com/UNSOCLawAUTh"><i class="fa fa-facebook lil-pad">&nbsp;</i> Facebook</a>
        <!-- <br> -->
        <a href="https://www.instagram.com/unsoc.law.auth/"><i class="fa fa-instagram lil-pad">&nbsp;</i>Instagram</a>

        <a href="#"><i class="fa fa-linkedin lil-pad">&nbsp;</i>LinkedIn</a>
    </div>


    <script src="{% static '/material/js/button-widget.js' %}"></script>
</body>
{% include "main/footer.html" %}
</html>