<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html>
	<head>
		<title>:(</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'material/css/main.css' %}">
	</head>

	<footer id="footer" class="">
<!--			<footer id="footer" class="">-->

					<div class="content">
						<section>
							<img class="logo" src="{% static 'material/imgs/logo_banner.svg' %}" alt="" srcset="">
						</section>

						<section>
							<h4 >Some site links</h4>
							<ul>
								<li><a href="{% url 'home' %}"><i class="">&nbsp;</i>Home</a></li>
								<li><a href="{% url 'about-us' %}"><i class="">&nbsp;</i>About us</a></li>
								<li><a href="{% url 'contact' %}"><i class="">&nbsp;</i>Contact</a></li>
							</ul>
						</section>
						<section>
							<h4 >Some media links</h4>
							<ul>
								<li><a href="#"><i class="fa fa-twitter ">&nbsp;</i>Twitter</a></li>
								<li><a href="https://www.facebook.com/UNSOCLawAUTh"><i class="fa fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="https://www.instagram.com/unsoc.law.auth/"><i class="fa fa-instagram">&nbsp;</i>Instagram</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Copyright 2020
					</div>

<!--			</footer>-->

	</footer>
</html>