<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
{% include "main/navbar.html" %}
<body>


    <!-- <h2 class="sans-small-caps">Contacting Us</h2> -->
    <div class="container content red-bottom">
        <h2 class="sans-small-caps bigger">Membership</h2>

        <!-- <img  src="/images/contact_us_b.jpg" alt="" class="dec-img "> -->
    </div>


    <div class="container faq content">

        <p>Before trying to contact us please consult the <a class="link" href="{% url 'about-us' %}">FAQ</a> page.</p>

        <h2 class="small-caps">General Queries</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ea inventore vel voluptas praesentium quod officiis animi ab quas non porro culpa reprehenderit nisi vitae dolorum a temporibus voluptatibus commodi.</p>

        <h2 class="small-caps">Specific Queries</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ea inventore vel voluptas praesentium quod officiis animi ab quas non porro culpa reprehenderit nisi vitae dolorum a temporibus voluptatibus commodi.</p>
    </div>

</body>
{% include "main/footer.html" %}
</html>