<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
{% include "main/navbar.html" %}
<body>


    <!-- <h2 class="sans-small-caps">Contacting Us</h2> -->
    <div class="container content red-bottom">
        <h2 class="sans-small-caps bigger">Membership</h2>

        <!-- <img  src="/images/contact_us_b.jpg" alt="" class="dec-img "> -->
    </div>


    <div class="container faq content">

<!--        <p>Before trying to contact us please consult the <a class="link" href="{% url 'about-us' %}">FAQ</a> page.</p>-->

        <h2 class="">According to Article 4 of our Constitution, UNSOC membership consists of Regular Members, Associate Members and Honorary Members. </h2>
        <p></p>

        <h2 class="">Regular Members</h2>
        <p>Students and graduates of the Faculty of Law of the Aristotle University of Thessaloniki can apply to become Regular Members of UNSOC. The rights and responsibilities of Regular Members are described in detail in Article 8 of our Constitution.</p>

        <h2 class="">Associate Members</h2>
        <p>Students and graduates of any other Faculty or School of the Aristotle University of Thessaloniki can apply to become Associate Members of UNSOC. Associate Members enjoy the same rights and privileges as Regular Members, except an Associate Member may not hold office or vote.</p>

        <h2 class="">Honorary Members</h2>
        <p>Honorary Membership is awarded for life by the Executive Board of UNSOC to individuals with outstanding contribution to the fields of diplomacy, international affairs or international law. Persons who have rendered meritorious service or significant financial support to UNSOC may also be granted the status of Honorary Member. In addition to paying no membership dues, Honorary Members enjoy the same benefits as Regular Members, except they have no voting privileges and may not hold office. </p>
        <br>
        <br>
        <br>
        <p>If you are interested in joining UNSOC and fulfil the criteria of one of the membership types described above, please fill in this form with all relevant information about yourself. Note that an applying member must pay the annual membership fee of €10 before its membership is considered confirmed. After your application has been processed, you will receive an email with further instructions concerning the payment. For any inquiries, please feel free to contact us.</p>
    </div>

</body>
{% include "main/footer.html" %}
</html>