<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="main.css" />
</head>

{% include "main/navbar.html" %}

<body>

    <article class="content container">
        <h2 class="small-caps">This is the title</h2>

        <img class="fit " src="pic02.jpg" alt="" srcset="">
        <div class="date align-left red-bottom">15th January 1987</div>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus incidunt sequi corrupti excepturi. Repudiandae dolor in quaerat cumque perspiciatis ipsam ea veritatis quam laboriosam ipsum voluptas eum unde assumenda officia labore quas dolorem quos ullam, dignissimos culpa fuga maxime dolorum animi! Modi at consectetur eius. Fugiat nulla asperiores dignissimos tempora autem a minus porro, excepturi accusantium. Magnam minima quam consequatur odio illum, nesciunt doloribus laboriosam sed numquam iure blanditiis. Totam, doloribus. Odio vel nam neque, expedita amet inventore dolore ex aperiam nobis vero assumenda ipsa voluptatum, itaque deserunt a voluptates!
        </p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus incidunt sequi corrupti excepturi. Repudiandae dolor in quaerat cumque perspiciatis ipsam ea veritatis quam laboriosam ipsum voluptas eum unde assumenda officia labore quas dolorem quos ullam, dignissimos culpa fuga maxime dolorum animi! Modi at consectetur eius. Fugiat nulla asperiores dignissimos tempora autem a minus porro, excepturi accusantium. Magnam minima quam consequatur odio illum, nesciunt doloribus laboriosam sed numquam iure blanditiis. Totam, doloribus. Odio vel nam neque, expedita amet inventore dolore ex aperiam nobis vero assumenda ipsa voluptatum, itaque deserunt a voluptates!
        </p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus incidunt sequi corrupti excepturi. Repudiandae dolor in quaerat cumque perspiciatis ipsam ea veritatis quam laboriosam ipsum voluptas eum unde assumenda officia labore quas dolorem quos ullam, dignissimos culpa fuga maxime dolorum animi! Modi at consectetur eius. Fugiat nulla asperiores dignissimos tempora autem a minus porro, excepturi accusantium. Magnam minima quam consequatur odio illum, nesciunt doloribus laboriosam sed numquam iure blanditiis. Totam, doloribus. Odio vel nam neque, expedita amet inventore dolore ex aperiam nobis vero assumenda ipsa voluptatum, itaque deserunt a voluptates!
        </p>
    </article>

</body>
</html>