<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">
</head>

{% include "main/navbar.html" %}

<body>
    <button onclick="topFunction()" id="widget" class="fa fa-arrow-up" title="Go to top"></button>

    <div class="parallax-headD parallax-journal-head"></div>
    <article class="content container">

        <img class="fitted" src="{{journal.image_detail.url}}" alt="" srcset="">
        <h2 class="small-caps align-left">{{ journal.title }}</h2>
        <div class="date align-left red-bottom logo-blue">{{journal.date|date:"F d, Y"}}</div>

        {% autoescape off %}
            <p class="align-left">{{ journal.content|linebreaksbr|safe }}</p>
        {% endautoescape %}

<!--        <a class="align-left" href="{{ journal.href_url }}">{{ journal.href_url }}</a>-->

    </article>

    <script src="{% static '/material/js/button-widget.js' %}"></script>

</body>

{% include "main/footer.html" %}

</html>
