<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'material/css/main.css' %}">
</head>

{% include "main/navbar.html" %}

<body>
    <!-- <div class="container content"> -->
    <button onclick="topFunction()" id="widget" class="fa fa-arrow-up" title="Go to top"></button>

    <div class="opening-container opening-board content ">
        <h2 class="sans-small-caps content bigger opening-text">Board Members</h2>
    </div>

    <!-- </div> -->

    {% for member in boardmember %}
<!--    <div class="container">-->
        <div class="portraits-container ">
            <div class="person-container">
                <a class="round" href="{{member.social_url}}">
                    <div class="portrait-container">
                        <!-- Image path here for portrait -->
                        <img src="{{member.member_pic.url}}" class="portrait">
                        <!-- Image path here for linkedin icon -->
                        <img class="icon" src="{% static 'material/imgs/linkedin-square.svg' %}" alt="">
                    </div>
                </a>

                <div class="bio content">
                    <!-- Title -->
                    <p class="sans bigger "><b>{{member.get_role_display}}</b></p>
                    <!-- Name -->
                    <p class="sans pad-down content logo-blue"><i>{{member.name}} {{member.surname}}</i></p>
                    <!-- Contact -->
                    <p class="sans pad-down smaller"><i>Contact: {{ member.email_url }}</i></p>
                    <!-- Description -->
                    <p class="smaller">{{member.member_bio|linebreaksbr}}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <script src="{% static '/material/js/button-widget.js' %}"></script>
</body>


{% include "main/footer.html" %}

</html>